# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore database file
db.sqlite3

# Ignore environment files
.env
*.env

# Ignore compiled files
*.log
*.bak

# Ignore third-party static files
static/assets/vendor/



